<section id="sectionbtn">
        <button id="btn_target_articles" class="btn_nav_style btninteration" routerLink="/articles" > Articulos</button>
        <button id="btn_target_searchclient" class="btn_nav_style btninteration" routerLink="/clients">Clientes</button>
        <button id="btn_info_client" class="btn_nav_style btninteration">Detalles del Cliente</button>
        <button id="btn_info_client" class="btn_nav_style btninteration">Historial de compras</button>
        <button id="btn_target" class="btn_nav_style btninteration">Cancelar</button>
</section>