<div id="subcontenedor">

    <table mat-table #table [dataSource]="Servicehttps.Articles">
        <ng-container matColumnDef="articlecode">
            <th mat-header-cell *matHeaderCellDef>Codigo de Articulo</th>
            <td class="tdvalue tdvalue01" mat-cell *matCellDef="let row"><input type="text" value=" {{row.articlecode}} "> </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Descripción</th>
            <td class="tdvalue tdvalue02" mat-cell *matCellDef="let row"><input type="text" value=" {{row.description}} "> </td>
        </ng-container>
        <ng-container matColumnDef="quantify">
            <th mat-header-cell *matHeaderCellDef>Cantidad</th>
            <td class="tdvalue tdvalue03" mat-cell *matCellDef="let row"><input type="text" value="{{row.quantify}}"> </td>
        </ng-container>
        <ng-container matColumnDef="unitprice">
            <th mat-header-cell *matHeaderCellDef>Precio Unitario</th>
            <td class="tdvalue tdvalue04" mat-cell *matCellDef="let row"><input type="text" value="{{row.unitprice}}"></td>
        </ng-container>
        <ng-container matColumnDef="discaunt">
            <th mat-header-cell *matHeaderCellDef>Descuento</th>
            <td class="tdvalue tdvalue05" mat-cell *matCellDef="let row"><input type="text" value="{{row.discaunt}}"> </td>
        </ng-container>
        <ng-container matColumnDef="subTotal">
            <th mat-header-cell *matHeaderCellDef >SubTotal</th>
            <td class="tdvalue tdvalue06" mat-cell *matCellDef="let row"><input type="text" value="{{row.subTotal}}"> </td>
        </ng-container>
        <ng-container matColumnDef="tax">
            <th mat-header-cell *matHeaderCellDef>Impuesto</th>
            <td class="tdvalue tdvalue07"  mat-cell *matCellDef="let row"><input type="text" value="{{row.tax}}"></td>
        </ng-container>
        <ng-container matColumnDef="Total">
            <th mat-header-cell *matHeaderCellDef>Total</th>
            <td class="tdvalue tdvalue08" mat-cell *matCellDef="let row"><input type="text" value="{{row.Total}}"></td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="articleheader" class="ngcontainer"></tr>
        <tr mat-row *matRowDef="let row; columns: articleheader;"></tr>
    </table>

        <!-- <table>
                <thead>
                    <tr>
                        <th class="table_style_th" >Numero</th>
                        <th class="table_style_th" >Codigo de Articulo</th>
                        <th class="table_style_th" >Description</th>
                        <th class="table_style_th" >Cantidad</th>
                        <th class="table_style_th">Precio Unitario</th>
                        <th class="table_style_th" >%Descuento</th>
                        <th class="table_style_th">Impuesto</th>
                        <th class="table_style_th" >Total</th>
                    </tr> 
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>  
        </table> -->
</div>