body{
    height: 100%;
    min-height: calc(100vh);
}



/*Paleta de Colores 1*/

/* .color1 {color: #154162;}
.color2 {color: #185776;}
.color3 {color: #1d738e;}
.color4 {color: #239ea6;}
.color5 {color: #2bc8bc;} */

/*-----------------------------------*/

/* PALETA DE COLORES 2 */
.color1 {color: #2bbec8;}
.color2 {color: #62d4d4;}
.color3 {color: #09212f;}
.color4 {color: #76797e;}
.color5 {color: #e5e5e5;}