/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Opensas;
    src: url(../src/app/Fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: Opensas2;
    src: url(./app/Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

/*TEMA 1-------*/

:root{
    --background-color: #171934;
    --background-color2: #0a151bdc;
    --text-color: #ffe7ff;
    --background-input: #ffffff;
    --background-btn:#e2e2e2;
    --text-colorbtn: black;
    --border-input: white;
    --background-tableheader: #bac8ff;
    --text-colorth: black;
    font-family: Opensas2;
    font-size: 14px;
}

/*-------------------------*/


*{
    margin: 0;
    padding: 0;;
}
body{
    box-sizing: border-box;
    max-height: max-content;
    background: var(--background-color);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--background-color), var(--background-color2), var(--background-color));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--background-color), var(--background-color2), var(--background-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
