<section id="totacontainer">
    
    <div id="payinggroup">
        <button id="quickpay" class="btn_nav_style">Pago Rapido</button>
        <button id="methodspay" class="btn_nav_style">Metodo de Pago</button>
        <button id="quickpay" class="btn_nav_style">Crear Proforma</button>
        <button id="quickpay" class="btn_nav_style">Opciones</button>
        <button id="quickpay" class="btn_nav_style">Inventario</button>
        <button id="quickpay" class="btn_nav_style">Lista de Precios</button>
        <button id="quickpay" class="btn_nav_style">Tipo de impuesto</button>
        <button id="quickpay" class="btn_nav_style">Obtener Ofertas</button>

    </div>
    

    <div id="subtotacontainer_001">
        
        <div id="labelstotal">
            <label for="">Subtotal:</label>
            <label for="">Descuentos:</label>
            <label for="">Impuestos:</label>
            <label for="">Total a Pagar:</label>
        </div>
        <div id="inputstotal">
            <input type="text" readonly>
            <input type="text" readonly>
            <input type="text" readonly>
            <input type="text" readonly>
        </div>
        <div id="subtotacontainer_002">
            <label for="">Comentario:</label>
            <textarea rows="5" cols="30"></textarea>
        </div> 
    </div>
    
</section>